In [9]:
import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt
plt.style.use('ggplot')
sns.set_context("notebook", font_scale=1.)
%config InlineBackend.figure_format = 'retina'

In [10]:
data = pd.read_csv('politeness_data.csv')

In [11]:
data

   subject gender  scenario attitude  frequency
0       F1      F         1      pol      213.3
1       F1      F         1      inf      204.5
2       F1      F         2      pol      285.1
3       F1      F         2      inf      259.7
4       F1      F         3      pol      203.9
..     ...    ...       ...      ...        ...
79      M3      M         5      inf      156.5
80      M3      M         6      pol      146.7
81      M3      M         6      inf      158.0
82      M3      M         7      inf      161.1
83      M3      M         7      pol      153.3

[84 rows x 5 columns]

In [12]:
data.rename(columns={'attitude':'condition', 'frequency':'pitch'}, inplace=True)